:root {
    --mdc-theme-primary: #ff9900; 
}

@use "@material/button";

@include button.core-styles;

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
  }
  #navbar {
    font-family: "Roboto";
    text-align: left;
    font-size: 16px;
    color: white;
    background-color: #0000b9;
    width: 100%;
    margin: 0;
    box-shadow: 0px 1px 10px #0000b970;
    padding: 1%;
    position: fixed;
}  

h1 {
    font-family: "Roboto";
    text-align: center;
    font-size: 250%;
    color: white;
    background-color: #5f01ed;
    margin: 0;
    margin-bottom: 2%;
    padding: 8%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=text] {
  -moz-appearance: textfield;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 80%;
  margin: 25px 5px 5px 5px;
  font-size: 100%;
  padding: 1%;
  border-radius: 10px;
  border-style: none;
  color: black;
}

#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.mdc-button {
    flex: 1 0 21%;
    justify-content: space-between;
    margin: 5px;
    padding: 15px;
    font-size: 110%;
}
a {
    text-decoration: none;
}